<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Send Email</title>
    <link href="styles/index.css" rel="stylesheet" />
  </head>

  <body>
      <form action="/send_email" method="POST">
          <h1> Demo <br> Demo Email</h1>
          <label for="email">Form: </label>
          <input type="email" name="from" id="from" />

          <label for="to">To: </label>
          <input type="email" name="to" id="to" />

          <label for="subject">Subject: </label>
          <input type="text" name="subject" id="subject" />

          <label for="message">Message: </label>
          <textarea id="message" name="message"></textarea>

          <input type="submit" value="Send" />

      </form>
  </body>
</html>
