.pending-articles-header {
    padding: 15px 15px;
    font-weight: bold;
}
.pending-articles-item {
    padding: 12px 12px;
    cursor: pointer;
}
.pending-articles-item:hover {
    background-color: darkgray;
}

.pending-col-1 {
    flex-basis: 40%;
}

.pending-col-2 {
    flex-basis: 40%;
}

.pending-col-3 {
    flex-basis: 20%;
}

ul {
    padding-top: 25px;
    padding-right: 20px;
    padding-bottom: 25px;
}
li {
    border-radius: 5px;
    display: flex;
    justify-content: left;
    margin-bottom: 5px;
}
